@model HotelWebsite.Models.OfferViewModel
@{int id = Model.ID;}

<h1>Offer</h1>

<div class="product-essential">
    <div class="gallery">
        <div class="picture">
            <img src="https://picsum.photos/200/300" alt="Picture" id="main-product-img" />
        </div>
        <div class="picture-thumbs">
            <div class="thumb-item"><img onclick="Test" src="https://picsum.photos/200/300" alt="Picture" /></div>
            <div class="thumb-item"><img onclick="Test" src="https://picsum.photos/id/237/200/300" alt="Picture" /></div>
        </div>
    </div>
    <div class="overview">
        <div class="product-name"><h1>@Model.Name</h1></div>
        <div class="short-description">@Model.Description</div>
        <div class="product-reviews-overview">
            <div class="product-review-box">
                <div class="rating">
                    <div style="width:0%">

                    </div>
                </div>
            </div>
        </div>
        <div class="prices"><div class="product-price"><span>@Model.Price</span></div></div>
    </div>
</div>
@*<div>
        <h4>OfferViewModel</h4>
        <hr />
        <dl class="row">
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.ID)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.ID)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Price)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Price)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Comments)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Comments)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Rating)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Rating)
            </dd>
        </dl>
    </div>*@
<div>
    @Html.ActionLink("Edit", "EditOffer", new {  id = Model.ID}) |
    <a asp-action="Index">Back to List</a>
</div>