@model HotelWebsite.Models.OfferViewModel
@{
    var image = Model.ImagesSrc.FirstOrDefault();
}
<h1>Offer</h1>

<div class="product-essential">
    <div class="gallery">
        <div class="picture">
            @if (image == null)
            {
                <img src="../../images/Hotel-placeholder-1.png" alt="Picture" id="main-product-img" />
            }
            else
            {
                <img src="@image" alt="Picture" id="main-product-img" />
            }
        </div>
        @if (image != null)
        {

            <div class="picture-thumbs">
                @foreach (var item in Model.ImagesSrc)
                {
                    <div class="thumb-item"><img src="@item" alt="Picture" /></div>
                }
            </div>
        }
    </div>
    <div class="overview">
        <div class="product-name"><h1>@Model.Name</h1></div>
        <div class="short-description">@Model.Description</div>
        <div class="product-reviews-overview">
            <div class="product-review-box">
                <div class="rating">
                    <div style="width:@(Model.Raiting * 20)%">
                    </div>
                </div>
            </div>
            <div class="product-review-links">
                <a asp-action="CreateReview" asp-controller="Offer" asp-route-id="@Model.ID">Leave a Review</a>
            </div>
        </div>
        <div class="prices"><div class="product-price"><span>$@Model.Price</span></div></div>
        @if (Model.To == null && Model.From == null)
        {
            <form asp-action="Offer" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <input class="form-control" hidden="hidden" value="@Model.ID" name="OfferId" />
                </div>
                <div class="form-group">
                    <label class="control-label">From</label>
                    <span asp-validation-for="From" class="text-danger"></span>
                    <input asp-for="From" type="date" class="form-control" value="@null" name="From" />
                    <span class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">To</label>
                    <span asp-validation-for="To" class="text-danger"></span>
                    <input asp-for="To" type="date" class="form-control" value="@null" name="To" />
                    <span class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Book" class="btn btn-primary" />
                </div>
            </form>
        }
        else
        {
            <div class="text">
                <span>This offer is already booked</span>
            </div>
        }
    </div>
</div>
<div>
    @if (User.IsInRole("Admin"))
    {
        @Html.ActionLink("Edit", "EditOffer", new { id = Model.ID });
        <span>|</span>
    }
    <a asp-action="Offers">Back to List</a>
</div>