@model HotelWebsite.Models.OfferViewModel

<h1>Offer</h1>

<div class="product-essential">
    <div class="gallery">
        <div class="picture">
            <img src="https://picsum.photos/200/300" alt="Picture" id="main-product-img" />
        </div>
        <div class="picture-thumbs">
            <div class="thumb-item"><img onclick="Test" src="https://picsum.photos/200/300" alt="Picture" /></div>
            <div class="thumb-item"><img onclick="Test" src="https://picsum.photos/id/237/200/300" alt="Picture" /></div>
        </div>
    </div>
    <div class="overview">
        <div class="product-name"><h1>@Model.Name</h1></div>
        <div class="short-description">@Model.Description</div>
        <div class="product-reviews-overview">
            <div class="product-review-box">
                <div class="rating">
                    <div style="width:@(Model.Raiting * 20)%">
                    </div>
                </div>
            </div>
            <div class="product-review-links">
                <a asp-action="CreateReview" asp-controller="Offer" asp-route-id="@Model.ID">Leave a Review</a>
            </div>
        </div>
        <div class="date">Availabe from : @Model.AvailableFrom</div>
        <div class="date">Avaiable to : @Model.AvailableTo</div>
        <div class="prices"><div class="product-price"><span>$@Model.Price</span></div></div>
        @if (!Model.IsBooked)
        {
            <div class="button">
                <input type="button"
                       value="Book"
                       onclick="location.href='@Url.Action("BookOffer", "Offer",new { @Model.ID })'" />
            </div>
        }
        else
        {
            <div class="text">
                <span>This offer is already booked</span>
            </div>
        }
    </div>
</div>
<div>
    @if (User.IsInRole("Admin"))
    {
        @Html.ActionLink("Edit", "EditOffer", new { id = Model.ID });
        <span>|</span>
    }
    <a asp-action="Offers">Back to List</a>
</div>