@using Models.OfferModels
@model OfferViewModel
@{
    var image = Model.ImagesSrc.FirstOrDefault();
}
<h1>Offer</h1>

<div class="product-essential">
    <div class="gallery">
        <div class="picture">
            @if (image == null)
            {
                <img src="../../images/Hotel-placeholder-1.png" alt="Picture" id="main-product-img" />
            }
            else
            {
                <img src="@image" alt="Picture" id="main-product-img" />
            }
        </div>
        @if (image != null)
        {

            <div class="picture-thumbs">
                @foreach (var item in Model.ImagesSrc)
                {
                    <div class="thumb-item"><img src="@item" alt="Picture" /></div>
                }
            </div>
        }
    </div>
    <div class="overview">
        <div class="product-name"><h1>@Model.Name</h1></div>
        <div class="short-description">@Model.Description</div>
        <div class="product-reviews-overview">
            <div class="product-review-box">
                <div class="rating">
                    <div style="width:@(Model.Raiting * 20)%">
                    </div>
                </div>
            </div>
            <div class="product-review-links">
                <a asp-action="CreateReview" asp-controller="Review" asp-route-id="@Model.OfferID">Leave a Review</a>
            </div>
        </div>
        <div class="prices"><div class="product-price"><span>$@Model.Price</span></div></div>
        <partial name="_BookOffer" model="Model"/>
    </div>
</div>
<div>
    @if (User.IsInRole("Admin"))
    {
        @Html.ActionLink("Edit", "EditOffer", new { id = Model.OfferID });
        <span>|</span>
    }
    <a asp-action="Offers">Back to List</a>
</div>